@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <img src="~/Images/CounterStrike2.png" alt="Counter Strike Logo" class="cs-logo">
    <h1>Welcome to My Favourite Counter Strike 2 Player Management Website</h1>
    <p class="lead">Manage your professional player information with ease.</p>
</div>
